@media(max-width: 768px) {

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px 0 0 !important;
    margin: 0 !important;

  }

  .head_main {
    align-items: flex-start !important;
  }

  .head_content {
    padding: 15px !important;
  }

  .head_title {
    font-size: 75px !important;

  }

  .head_text {
    margin-top: 52px !important;
  }

  .anim {
    font-size: 75px !important;
  }

  .wrapper_main_about {
    padding: 0 !important;
  }

  .main_about_content {
    padding: 0 0 100px 15px !important;
  }

  .main_about_title {
    display: none !important;

  }

  .main_about_title_tab {
    display: block !important;
    padding: 65px 0 30px 15px !important;


  }

  .main_about_img {
    align-items: flex-start !important;
  }

  .main_services {
    .main_grid {
      padding: 0 0 100px 0 !important;
      width: auto !important;
    }

    .main_services_btn {
      display: none !important;
    }

    .main_services_btn_mob {
      display: block !important;

      width: 176px;
      height: 44px;
      border: 1px solid $Blue;
      background: transparent;
      color: $Blue;
      margin-top: 35px;

      &:hover {
        background: $Blue;
        color: white;
      }
    }
  }

  .main_footer {
    background-image: none !important;
  }

  .footer {


    .footer_wrapper {
      padding: 143px 15px 85px 15px !important;
    }
  }

  .aboutus_header {
    .aboutus_title_wrapper {
      bottom: 30% !important;
      left: 15px !important;
    }
  }

  .aboutuscontent {
    flex-direction: column;
    padding: 30px 15px 120px 15px;

    .aboutuscontent_text {
      width: 100%;
    }

    .aboutuscontent_img {
      padding: 110px 0 0 0;
      width: 70%;
    }

    .aboutuscontent_imgw {
      width: 100%;
    }
  }

  .services {
    padding: 40px 20px 100px 20px;

    .services_header {
      width: 100%;
      margin-bottom: 80px;
    }

    .services_grid {
      grid-template-columns: auto;
      gap: 120px 10%
    }
  }

  .servicescard_text {
    width: 100%;
  }
}

@media(max-width: 450px) {
  .navbar {
    margin: 17px 6px 0 6px;

    .navbar_logo {
      width: 112px;
      height: 28px;
    }

    .navbar_menu {
      width: 38px;
      height: 28px;
    }
  }

  .head_wrapper {
    height: auto !important;
  }

  .head_main {
    height: auto !important;
  }

  .head_title {
    font-size: 30px !important;
    margin: 0 !important;
    margin-top: 60px !important;

  }

  .head_text {
    margin: 0 !important;
  }

  .anim {
    color: black;
    margin: 0 !important;
    margin-bottom: 40px !important;
  }

  .head_text {

    margin: 30px 10px 0 10px;
  }

  .wrapper_main_about {
    box-shadow: none !important;
    background: transparent !important;
  }

  .main_about_title_tab {
    font-size: 30px !important;
    padding: 0 0 0 15px !important
  }

  .main_about_text {
    font-size: 14PX !important;
  }

  .main_about_img {
    width: auto !important;
  }

  .main_about_content {
    width: auto !important;
    padding: 0 15px 50px 15px !important;

  }


  .main_btn {
    display: none !important;
  }

  .wrapper_main_about {
    padding: 40px 0 60px 0 !important;

    .main_about_content_wrapper {
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;

      .main_btn_mob {
        display: block !important;
        width: 190px;
        height: 48px;
        color: $Blue;
        border: 1px solid $Blue;
        background: transparent;
        font-family: 'Open Sans';

        &:hover {
          background: $Blue;
          color: white;

        }
      }
    }
  }

  .main_services_title {
    font-size: 30px !important;
  }

  .main_services {
    .main_grid {
      padding: 0 15px 0 15px !important;
    }
  }

  .servicecard_main {

    width: auto !important;
  }

  .servicecard_text {
    width: auto !important;
    padding: 0 15px 0 15px !important;
    font-size: 14px;
  }

  .aboutus_header {
    .aboutus_title_wrapper {
      bottom: 40% !important;

    }

    .aboutus_title_about {

      font-size: 30px !important;
    }

    .aboutus_title_us {
      font-size: 30px !important;
    }
  }

  .aboutuscontent {
    flex-direction: column;
    padding: 30px 15px 30px 15px;

    .aboutuscontent_text {

      font-size: 14px;
    }

    .aboutuscontent_img {
      padding: 0;
      width: 100%;
    }

    .aboutuscontent_imgw {
      width: 100%;
    }
  }

  .aboutus_team {
    .aboutus_team_title {
      font-size: 30px;

    }
  }

  .services {



    .services_title {

      font-size: 30px;

    }

    .services_description {

      font-size: 30px;

    }

    .services_text {

      font-size: 14px;


    }

    .servicescard_text {
      font-size: 14px;
    }
  }

}



@media(max-width: 750px) {
  .main_services {
    justify-content: space-around;
    height: auto;

    .main_grid {
      display: grid;
      grid-template-columns: 1fr !important;
      justify-content: center;
      align-items: center;
      gap: 100px !important;

    }
  }
}

@media(max-width: 650px) {


  .footer {


    .footer_menu {
      font-size: 14px !important;
      width: auto !important;
      margin-bottom: 30px !important;
    }

    .footer_right_content {
      font-size: 14px !important;
    }

    .footer_left_content {
      width: auto !important;
    }

    .footer_content {
      height: auto !important;
      flex-direction: column !important;
      display: flex !important;
      align-items: unset !important;
      gap: 50px !important;
      justify-content: center !important
    }





  }
}

@media(max-width: 1060px) {

  .aboutus_team_content {
    display: grid !important;


    grid-template-columns: auto auto !important;
    grid-template-rows: auto auto !important;
  }

}

@media(max-width: 570px) {

  .aboutus_team_content {
    display: grid !important;


    grid-template-columns: auto !important;
    grid-template-rows: auto !important;
  }

}

// @media(max-width: 1100px) {
//   .wrapper_main_about {

//     .main_about_title {
//       padding: 0 0 0 15px;
//     }

//     .main_about_img {
//       padding: 0 15px 0 0 !important;
//       margin: 0 !important;
//     }

//     .main_about_content_wrapper {
//       .main_about_content {
//         padding: 35px 0 0 15px;
//         gap: 50px;

//         .main_btn {
//           width: 230px;
//           height: 60px;
//           font-size: 25px;

//         }
//       }

//     }
//   }
// }
//     .main_services_title {
//       font-size: 30px !important;
//       margin-top: 40px;
//       margin-bottom: 60px;
//     }

//   }
// }



//   .footer {
//     display: flex;
//     flex-direction: column !important;

//     .footer_menu {
//       font-size: 14px !important;
//       width: auto !important;
//       margin-bottom: 30px !important;
//     }

//     .footer_right_content {
//       font-size: 14px !important;
//     }

//     .footer_content {
//       height: auto !important;
//       display: grid !important;
//       grid-template-rows: repeat(2, 1fr) !important;
//       gap: 50px !important;
//       justify-content: center !important
//     }

//     .footer_logo {
//       display: none !important;
//     }

//     .footer_logo_mob {
//       display: block !important;
//     }

//   }
// }

// @media(max-width: 900px) {
//   .main_services {
//     justify-content: space-around;


//     }

//     .main_services_title {

//       margin: 30px 0 70px 0 !important;

//     }

//     .main_grid {
//       gap: 100px 130px !important;
//     }

//     .main_services_btn {
//       display: none !important;
//     }
//   }
// }

// @media(max-width: 1230px) {
//   .footer_input {
//     width: 350px !important
//   }
// }

// @media(max-width: 1000px) {
//   .footer_wrapper {
//     padding: 143px 15px 60px 15px !important;
//   }
// }

// @media(max-width: 830px) {
//   .footer_input {
//     width: 270px !important
//   }

//   .footer_wrapper {
//     padding: 143px 15px 60px 15px !important;
//   }

//   .footer_right_content {
//     font-size: 15px !important;
//   }

//   .footer_menu {
//     font-size: 15px !important;
//   }
// }

// @media(max-width: 1350px) {
//   .items_container {

//     grid-column-gap: 90px !important;



//   }
// }

// @media(max-width: 1250px) {
//   .items_container {

//     grid-column-gap: 60px !important;



//   }
// }
// @media(max-width: 760px){
//   .main_services{
//     .main_grid {
//       gap: 100px 30px !important;
//       }
//   }

// }

// @media(max-width: 1150px) {
//   .carousel_wrapper {
//     margin: 120px 15px 0 15px !important
//   }

//   .items_container {
//     width: 70% !important;
//     grid-column-gap: 50px !important;
//   }
// }

// @media(max-width: 1070px) {

//   .items_container {
//     width: 75% !important;
//     grid-column-gap: 150px !important;
//   }
// }
// @media(max-width: 880px) {

//   .items_container {
//     width: 80% !important;
//     grid-column-gap: 95px !important;
//   }
// }
// @media(max-width: 760px) {

//   .items_container {
//     width: 80% !important;
//     grid-column-gap: 45px !important;
//   }
// }
// @media(max-width: 720px) {

//   .items_container {
//     width: 40% !important;
//     grid-column-gap: 40px !important;
//   }
// }

// @media(max-width: 650px) {
// .wrapper_main_about {
//   .main_about_img {
//     margin: 0 !important;
//     padding: 0 !important;
//   }
//   .main_btn_mob {
//     display: block !important;
//     width: 230px;
//     height: 60px;
//     color: $Blue;
//     color: white;
//     background: $Blue;
//     margin: auto;
//     border: 1px solid $Blue;
//     font-size: 25px;
//     font-weight: 400;
//     margin-bottom: 65px;
//   }
//   .main_about_title {
//     padding: 0;
//   }
//   .main_about_content_wrapper {
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    align-items: center;

//     .main_about_content {
//       display: grid;
//       gap: 20px;
//       padding: 35px 15px 15px 15px !important;

//       .main_btn {
//         display: none;
//       }
//     }
//   }
// }


// }

// .wrapper_main_about {
//   .main_about_content_wrapper {
//     gap: 30px !important
//   }

//   .main_about_img {

//     margin: 0 !important;
//     padding: 0 !important;
//   }

//   .main_btn {
//     display: none !important;
//   }

//   .main_btn_mob {
//     display: block !important;
//     width: 230px;
//     height: 60px;
//     color: $Blue;
//     color: white;
//     background: $Blue;
//     margin: auto;
//     border: 1px solid $Blue;
//   }


//   .main_about_text {
//     font-size: 14px !important;
//   }

//   .main_about_img {
//     width: 200px !important;
//   }

// }