$Blue:#2AA0FF;
$Gray: #9E9E9E;
$white: #F8F8F8;


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Swis721 Blk BT', 'Open Sans'
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 60px 0 60px;

    .navbar_logo {
        width: 210px;
        height: 50px;
    }

    .navbar_menu {
        width: 45px;
        height: 30px;
    }
}

.head_wrapper {
    height: 100vh;

    .head_main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        flex-direction: column;
        direction: column;

        .head_content {
            justify-content: flex-start;
            padding: 5px;
        }

        .head_title {
            color: $Blue;
            font-size: 85px;
            font-weight: 900;
            font-family: 'Swis721 Blk BT'

        }

        .anim {
            color: black;
            font-family: 'Swis721 Blk BT'
        }

        .head_text {
            margin-top: 40px;
            font-size: 16px;
            font-weight: 900;
            font-family: 'Open Sans'
        }
    }

}

.wrapper_main_about {

    justify-content: center;
    width: 100%;
    box-shadow: 0px 25px 75px rgba(44, 44, 44, 0.44);
    background: $white;
    padding: 140px 0 140px 0;

    .main_about_title {
        font-weight: 900;
        font-size: 100px;
        font-family: 'Swis721 Blk BT';



    }

    .main_about_title_tab {
        display: none;
        font-weight: 900;
        font-size: 100px;
        font-family: 'Swis721 Blk BT';
    }

    .main_about_content_wrapper {
        display: flex;
        flex-direction: row;

        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(3, 1fr);
        // ;

        .main_about_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            padding: 0 0 0 75px;
            width: 55%;

            .main_about_title {
                grid-column: span 3;

            }

            .main_about_text {
                font-weight: 400;
                font-size: 16px;
                font-family: 'Open Sans'
            }

            .main_btn {
                width: 190px;
                height: 48px;
                color: $Blue;
                border: 1px solid $Blue;
                background: transparent;
                font-family: 'Open Sans';

                &:hover {
                    background: $Blue;
                    color: white;

                }
            }


        }




        .main_about_img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45%;
            // margin-left: 138px;
            // padding: 0 134px 0 0;

        }

        .main_btn_mob {
            display: none !important;
            font-family: 'Open Sans';

        }

        .main_people_about {


            width: 100%;


        }
    }



}

.main_services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: #2C2C2C;



    .main_services_btn_mob {
        display: none !important;
        font-family: 'Open Sans'
    }

    .main_services_title {
        font-weight: 900;
        font-size: 100px;
        color: #9E9E9E;
        margin-top: 40px;
        font-family: 'Swis721 Blk BT';
        margin-bottom: 40px;
    }

    .main_grid {
        display: grid;
        grid-template-columns: auto auto;
        gap: auto auto;
        justify-content: center;
        align-items: center;
        gap: 100px 150px;



    }

    .main_services_btn {
        margin-bottom: 80px;
        margin-top: 85px;
        width: 176px;
        height: 44px;
        border: 1px solid $Blue;
        background: transparent;
        color: $Blue;

        &:hover {
            background: $Blue;
            color: white;
        }
    }
}

.servicecard_main {

    width: 100%;

    .servicecard {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        align-items: center;



    }

    .servicecard_title {
        color: #FFFFFF;
        font-size: 25px;
        margin-left: 25px;
        font-family: 'Swis721 Blk BT';
        width: 140px
    }

    .servicecard_text {
        color: #FFFFFF;
        font-size: 14px;
        font-family: 'Open Sans';
        width: 290px;

    }



}

.footer {


    .footer_wrapper {
        padding: 143px 70px 60px 85px;

        .footer_content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 130px;
        }

        .footer_left_content {
            float: left;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        }

        .footer_right_content {
            float: right;
            display: flex;
            flex-direction: column;
            font-weight: 700;
            font-size: 16px;
            row-gap: 10px;
            align-items: flex-end;
            font-family: 'Open Sans'
        }

        .footer_menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-weight: 900;
            font-size: 16px;
            width: 250px;
            font-family: 'Swis721 Blk BT';
            margin-bottom: 80px
        }

        .footer_input_wrapper {
            display: flex;
            justify-content: row;
            height: 46px;

        }

        .footer_input {
            width: 100%;
            border: 1px solid $Blue;
        }

        .footer_btn {
            width: 124px;
            background: $Blue;
            color: white;
            border: 1px solid $Blue;
            font-family: 'Open Sans'
        }

        .footer_logo {
            margin-bottom: 40px;
        }
    }

    .footer_social {
        margin-left: 12px
    }



}

.carousel_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin: 120px 75px 0 85px;
    padding: 100px 0 70px 0;

    .carousel_container {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .items_container {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(1, 1fr);
            grid-column-gap: 130px;
            grid-row-gap: 0px;
            overflow: hidden;
            width: 75%;
        }

        .single_item {

            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .radio_wrapper {
        display: flex;
        flex-direction: row;
        margin-top: 80px;
    }

    .dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid #DBDBDB;
        margin: 0 30px;
        background: #DBDBDB;
    }

    .dactive {
        background: $Blue;
    }

}

.main_footer {

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}