$Blue:#2AA0FF;
$Gray: #9E9E9E;
$white: #F8F8F8;


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'swis721-blk-bt-black', 'Open Sans', sans-serif
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 60px 0 60px;

    .navbar_logo {
        width: 210px;
        height: 50px;
    }

    .navbar_menu {
        width: 45px;
        height: 30px;
    }
}

.head_wrapper {
    height: 100vh;

    .head_main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85vh;
        flex-direction: column;
        direction: column;

        .head_content {
            justify-content: flex-start;
            padding: 5px;
        }

        .head_title {
            color: $Blue;
            font-size: 85px;
            font-weight: 900;

        }

        .anim {
            color: black;
        }

        .head_text {
            margin-top: 40px;
            font-size: 16px;
            font-weight: 900;
        }
    }

}

.wrapper_main_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    box-shadow: 0px 25px 75px rgba(44, 44, 44, 0.44);
    background: $white;

    .main_btn_mob {
        display: none !important;
        ;
    }

    .main_about_title {
        font-weight: 900;
        font-size: 100px;
        padding: 0 0 0 75px;

    }

    .main_about_content_wrapper {
        display: grid;
        flex-direction: row;
        grid-template-columns: auto auto;

        .main_about_content {
            display: grid;
            gap: 20px;
            padding: 35px 0 0 75px;

            .main_about_text {
                font-weight: 400;
                font-size: 16px;
            }

            .main_btn {
                width: 190px;
                height: 48px;
                color: $Blue;
                border: 1px solid $Blue;
                background: transparent;

                &:hover {
                    background: $Blue;
                    color: white;

                }
            }

        }




        .main_about_img {
            display: flex;
            justify-content: center;

            margin-left: 150px;
            padding: 0 140px 0 0;

        }

        .main_people_about {


            min-width: 300px;
            max-height: 278px;

        }
    }



}

.main_services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: #2C2C2C;
    .main_services_title_mob{
        display: none !important;
    }
    .main_services_btn_mob{
        display: none !important;
    }

    .main_services_title {
        font-weight: 900;
        font-size: 100px;
        color: #9E9E9E;
        margin-top: 40px;
    }

    .main_grid {
        display: grid;
        grid-template-columns: auto auto;
        gap: 100px 250px;
        justify-content: center;
        align-items: center;

    }

    .main_services_btn {
        margin-bottom: 40px;
        width: 176px;
        height: 44px;
        border: 1px solid $Blue;
        background: transparent;
        color: $Blue;

        &:hover {
            background: $Blue;
            color: white;
        }
    }
}

.servicecard_main {
    width: 300px;

    .servicecard {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        align-items: center;


    }

    .servicecard_title {
        color: #FFFFFF;
        font-size: 25px;
        margin-left: 20px;
    }

    .servicecard_text {
        color: #FFFFFF;
        font-size: 14px;
    }



}

.footer {
    height: 400px;

    .footer_wrapper {
        padding: 143px 70px 0 85px;

        .footer_content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 130px;
        }

        .footer_left_content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .footer_right_content {
            display: flex;
            flex-direction: column;
            font-weight: 700;
            font-size: 16px;
            row-gap: 10px;
        }

        .footer_menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-weight: 900;
            font-size: 16px;
            width: 250px;

        }

        .footer_input_wrapper {
            display: flex;
            justify-content: row;
            height: 46px;

        }

        .footer_input {
            width: 564px;
            border: 1px solid $Blue;
        }

        .footer_btn {
            width: 124px;
            background: $Blue;
            color: white;
            border: 1px solid $Blue;
        }

        .footer_logo {
            margin-bottom: 40px;
        }
    }

}

.carousel_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin: 120px 75px 0 85px;

    .carousel_container {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .items_container {
            display: flex;
            overflow: hidden;
            justify-content: space-between;
            width: 75%;
        }

        .single_item {
            padding: 0 150px 0 0;

            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .radio_wrapper {
        display: flex;
        flex-direction: row;
        margin-top: 80px;
    }

    .dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid #DBDBDB;
        margin: 0 30px;
        background: #DBDBDB;
    }

    .dactive {
        background: $Blue;
    }

}

.main_footer {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}